$space: 8px;
$maxWidth: 240px;
$textColor: #727682;
$placeholderColor: #ADAFB6;
$borderColor: #E6E8F0;
$borderColorFocus: #5D9BFB;
$lineHeight: 40px;
$fontSize: 18px;
$fontSizeLabel: 14px;

.codeInput-container {
    max-width: $maxWidth;
    position: relative;
    & > input {
        display: none;
    }
    &:before {
        content: '';
        display: block;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        border-bottom: 1px solid;
        border-color: $borderColor;
        transition: opacity .3s ease;
    }
    & > span {
        font-size: $fontSize;
        position: absolute;
        left: 0;
        z-index: 1;
        top: 0;
        right: 0;
        line-height: $lineHeight;
        display: block;
        color: $placeholderColor;
        transition: all .3s ease;
    }
    .inputs {
        display: flex;
        flex-flow: row nowrap;
        input {
            -webkit-appearance: none;
            opacity: 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            flex: 1;
            padding: 0;
            min-width: 0;
            margin-right: $space;
            border: 0;
            border-bottom: 1px solid;
            border-color: $borderColor;
            background: none;
            line-height: $lineHeight;
            color: $textColor;
            text-align: center;
            font-size: $fontSize;
            outline: none;
            border-radius: 0;
            transition: all .3s ease;
            &:focus {
                border-color: $borderColorFocus;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &.active {
        &:before {
            opacity: 0;
        }
        & > span {
            transform: translate(0, -100%);
            border-color: transparent;
            line-height: $lineHeight / 2;
            font-size: $fontSizeLabel;
            opacity: .6;
        }
        .inputs {
            input {
                opacity: 1;
            }
        }
    }
}

// Center
body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        opacity: .5;
        transition: all .4s ease;
        &:hover {
            opacity: 1;
        }
        img {
            display: block;
            height: 36px;
        }
    }
}